.tabs-wrapper {
  display: flex;
  height: auto;
  padding: 0rem 0rem 2rem 0rem;
  justify-content: center;
  margin: 2rem auto 0rem auto;
  max-width: 98vw;
  overflow: hidden;
 }
 
 .tabs {
   display: flex;
   overflow-x: auto;
   min-height: 64px;
   height: auto;
   align-items: start;
   -webkit-overflow-scrolling: touch;
   gap: 1.5rem;
   justify-content: flex-start;
   padding: 0 1rem;
 }
 
 .tabs::-webkit-scrollbar {
   display: none;
 }
 
 .tab-button {
   position: relative;
   white-space: nowrap; /* text mereu intr-un rand */
   background: transparent;
   border: none;
   color: #e5e5e5;
   font-size: 1rem;
   font-weight: 600;
   padding: 0.5rem;
   cursor: pointer;
   transition: color 0.3s ease;
 }
 *
 .tab-button::after {
   content: "";
   position: absolute;
   left: 50%;
   bottom: -4px;
   width: 0;
   height: 2px;
   background: var(--light-purple);
   border-radius: 2px;
   transition: all 0.3s ease;
   transform: translateX(-50%);
 }
 
 .tab-button.active {
   color: var(--light-purple);
 }
 
 .tab-button.active::after {
   width: 100%;
 }
