.vote-img-page p.text{
   font-size: 1rem!important;
   color: #999;
}

.vote-img-page{
   background: linear-gradient(-135deg, #333, #000);
   border-radius: 2rem;
   box-sizing: border-box;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   padding: 2rem;
   border: solid 1px #333;
}