.faq-section {
  padding: 3rem 1rem;
  width: 1024px;
  max-width: 100%;
  margin: 3rem auto;
}

.faq-title{
  color: #e5e5e5;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq-item {
  border-radius: 24px;
  background: #222;
  padding: 2rem;
  box-sizing: border-box;
}

.faq-question {
  width: 100%;
  background: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: left;
  color: #e5e5e5;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-icon {
  transition: transform 0.3s ease;
  margin-left: 1rem;
}

.faq-icon.rotated {
  transform: rotate(180deg);
}

.faq-answer p{
  font-size: 1rem;
  color: #e5e5e5;
  overflow: hidden;
}


@media (max-width: 768px) {
  .faq-section {
    padding: 2rem 1rem;
    width: 100%;
    box-sizing: border-box;
  }

  .faq-title {
    font-size: 1.5rem;
  }

  .faq-item {
    padding: 1.5rem 1rem;
  }

  .faq-question {
    font-size: 1rem;
  }

  .faq-answer {
    font-size: 0.95rem;
  }
}
