.hero {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  min-height: 100vh;
  height: auto;
  background: radial-gradient(circle at center, #333 0%, #000 100%);
  color: #111;
  padding: 3rem 1rem 5rem 1rem;
}

.hero-content {
  max-width: 100%;
  height: auto;
  display: flex;
  gap: 4rem;
  box-sizing: border-box !important;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 2rem;
}

.hero-content-left {
  width: 100%;
}
.hero-content-left img {
  width: 100%;
}

.hero-content-right {
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-text h1,
.hero-text p {
  margin: 0;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  background: linear-gradient(90deg, #990ae3, #ff28b1);
  background-clip: text;
  -webkit-background-clip: text;
  font-style: normal;
  font-weight: 700;
  line-height: 4.1rem;
  -webkit-text-fill-color: transparent;
}

.hero-content p {
  font-size: 3rem;
  color: #e5e5e5;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.hero-button {
  border-radius: 2rem;
  background: #cc3cff;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  margin-top: 1rem;
}

.hero-button:hover {
  transform: translateY(-5px);
  background-color: var(--base-color);
}

@media (max-width: 600px) {
  .hero-content {
    flex-direction: column;
    padding: 1rem;
  }
}

.scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: #ccc;
  animation: bounce 2s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -10px);
  }
  60% {
    transform: translate(-50%, -5px);
  }
}
