.image-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1rem;
  color: #e5e5e5;
  transition: all 0.3s ease;
}


.image-card img {
  width: 100%;
  cursor: pointer;
  height: auto;
  transition: all 0.3s ease;
  border-radius: 1rem;
}

.image-card:hover {
  background-color: rgba(256, 256, 256, 0.1);
  border-radius: 1rem;
}
.image-card:hover img {
  transform: scale(1.02);
  border-radius: 1rem 1rem 0 0;
}

.card-info {
  padding: 0.5rem 1rem;
}

.card-author {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.card-description {
  font-size: 0.9rem;
  color: #c5c5c5;
}
